[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia The CImg Library / Discussion / Help:Change RGB value for pixels
Type=Link
URL=http://sourceforge.net/p/cimg/discussion/334630/thread/6cb630af
Icon=text-html
